<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @cadastro_produto.nome %>
</p>

<%= link_to 'Edit', edit_cadastro_produto_path(@cadastro_produto) %> |
<%= link_to 'Back', cadastro_produtos_path %>
